.modal_bg {
    background-color: #171F2A;
    width: 377px;
    height: 311px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
}

.profile_img {
    background-color: khaki;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-left: 16px;
    margin-top: 19px;
}

.name {
    color: #ffffff;
    
}
.atMe {
    color: #8996A2;
    display: inline-block;
}

.timeStamp {
    color: #8996A2;
}
.post1 {
    color: #ffffff;
}

.post2 {
    color: #ffffff;
}
.post3 {
    color: #ffffff;
}

.dot {
    background-color: #8996A2;
    border-radius: 50%;
    width: 2px;
    height: 2px;
}

.hashtag {
    color: #8996A2;
}

.viewCount {
    color: #8996A2;
}
