.modal_bg {
    background-color: #171F2A;
    width: 377px;
    height: 311px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    display: flex;
    flex-direction: column;
}
.row1 {
    display: flex;
    flex-direction: row;

}

.inrow1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.col1 {
    display: flex;
    flex-direction: column;
}

.profile_img {
    background-color: khaki;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-left: 16px;
    margin-top: 19px;
}

.name {
    color: #ffffff;
    margin-left: 9px;
    margin-top: 12px;
    font-size: 14px;

    
    
}
.atMe {
    color: #8996A2;
    margin-left: 8px;
    margin-top: 12px;
    font-size: 14px;
}

.dot {
    background-color: #8996A2;
    border-radius: 50%;
    width: 2px;
    height: 2px;
    margin-left: 5px;
    margin-top: 22px;
}


.timeStamp {
    color: #8996A2;
    margin-left: 5px;
    margin-top: 12px;
    font-size: 14px;
}

.post1 {
    color: #ffffff;
    margin-left: 9px;
    margin-top: .3px;
    font-size: 14px;
}

.post2 {
    color: #ffffff;
    font-size: 14px;
    margin-top: .3px;
    margin-left: 9px;
}
.post3 {
    color: #ffffff;
    font-size: 14px;
    margin-top: .3px;
}


.hashtag {
    color: #4C9EE8;
    font-size: 14px;
    margin-top: .3px;
    margin-left: 9px;
    margin-bottom: 8px;
}

.viewCount {
    color: #8996A2;
    font-size: 12px;
    margin-top: 3px;
    margin-left: 9px;
}

.emo1 {
    width: 22px;
    height: 22px;
    background-color: #ffffff;
}

.image-content {
    height: 162px;
    width: 287px;
    margin-left: 9px;
    background-color: #ffffff;
    border-radius: 12px;
}